In [1]:
import ratios
import pyticker
import momentum
import pandas as pd

## Equity Momentum

In [2]:
symbols = pyticker.get_symbols_by_index('DOW JONES')

data = {'Symbol': [], 'Momentum': []}

for symbol in symbols:
    data['Symbol'].append(symbol)
    try:
        data['Momentum'].append(momentum.calculate_equal_weight_momentum(symbol, [1,3,6,12,24,36]))
    except:
        data['Momentum'].append(0)

df = pd.DataFrame(data)
df.set_index('Symbol', inplace=True)
df

        Momentum
Symbol
MMM     0.143686
AXP     0.378711
AAPL    0.761379
BA      0.189279
CAT     0.582994
CVX     0.221460
CSCO    0.225970
KO      0.151541
GS      0.538932
HD      0.440559
IBM     0.105892
INTC    0.230878
JNJ     0.187651
JPM     0.453991
MCD     0.223690
MRK     0.088527
MSFT    0.574733
NKE     0.380171
PG      0.258632
TRV     0.225709
UNH     0.380471
VZ      0.105878
V       0.254526
WMT     0.208479
WBA     0.202742
DIS     0.493839
AMGN    0.238002
HON     0.363587
CRM     0.234139
DOW     0.000000

In [3]:
df = df.sort_values(by='Momentum', ascending=False)
df

        Momentum
Symbol
AAPL    0.761379
CAT     0.582994
MSFT    0.574733
GS      0.538932
DIS     0.493839
JPM     0.453991
HD      0.440559
UNH     0.380471
NKE     0.380171
AXP     0.378711
HON     0.363587
PG      0.258632
V       0.254526
AMGN    0.238002
CRM     0.234139
INTC    0.230878
CSCO    0.225970
TRV     0.225709
MCD     0.223690
CVX     0.221460
WMT     0.208479
WBA     0.202742
BA      0.189279
JNJ     0.187651
KO      0.151541
MMM     0.143686
IBM     0.105892
VZ      0.105878
MRK     0.088527
DOW     0.000000

In [4]:
top_ten = df.head(10)
top_ten

        Momentum
Symbol
AAPL    0.761379
CAT     0.582994
MSFT    0.574733
GS      0.538932
DIS     0.493839
JPM     0.453991
HD      0.440559
UNH     0.380471
NKE     0.380171
AXP     0.378711

## Financial Ratio Analysis

In [5]:
data = {'Symbol': [], 'Revenue_Growth': [], 'ROE': []}

for symbol in top_ten.index:
    fr = ratios.get_financial_ratios(symbol)
    data['Symbol'].append(symbol)
    data['Revenue_Growth'].append(fr.loc['revenueGrowth','Value'])
    data['ROE'].append(fr.loc['returnOnEquityTTM','Value'])

data

{'Symbol': ['AAPL',
  'CAT',
  'MSFT',
  'GS',
  'DIS',
  'JPM',
  'HD',
  'UNH',
  'NKE',
  'AXP'],
 'Revenue_Growth': [0.722449,
  0.137031,
  0.159391,
  -0.20081,
  0.104848,
  0.00264178,
  -0.0380188,
  0.00398369,
  0.0612611,
  0.040074],
 'ROE': [0.905941,
  0.206009,
  0.421929,
  0.0752211,
  -0.0576169,
  0.108274,
  55.3376,
  0.245151,
  0.305811,
  0.144269]}

In [9]:
ratio_df = pd.DataFrame(data)
ratio_df.set_index('Symbol', inplace=True)
ratio_df = ratio_df[(ratio_df['Revenue_Growth'] > 0.05) & (ratio_df['ROE'] > 0.10)]
ratio_df

        Revenue_Growth       ROE
Symbol
AAPL          0.722449  0.905941
CAT           0.137031  0.206009
MSFT          0.159391  0.421929
NKE           0.061261  0.305811